.parallax-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-height: 25rem;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70%;
    width: 100%;
    background-image: linear-gradient(transparent, var(--almost-transparent-black) 70%);
    color: var(--header-yellow);
    padding-right: 5rem;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding-bottom: 3rem;
    }
  }
}
