.search-fields {
  padding: 5rem;
  padding-top: 2rem;

  .input-field {
    input {
      font-size: 1.5rem;
      height: 4rem;

      &[type=text]:focus + label {
        color: var(--input-focus-gray);
      }

      &[type=text]:focus {
        border-bottom: 1px solid var(--input-invalid-gray);
        box-shadow: 0 1px 0 0 var(--input-invalid-gray);
      }

      &[type=text].valid {
        border-bottom: 1px solid var(--input-valid-gray);
        box-shadow: 0 1px 0 0 var(--input-valid-gray);
      }
    }

    label {
      color: var(input-label-gray);
      font-size: 1.5rem;
    }
  }

  .categories-tabs {
    ul {
      background: transparent !important;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tabs {
      .tab a { /*Black color to the text*/
        color:rgb(61, 61, 61);
        font-size: 1rem;
    
        &:hover { /*Text color on hover*/
          background-color:#eee;
          color:rgb(179, 179, 179);
        }
    
        &.active { /*Background and text color when a tab is active*/
          background-color:rgba(255, 186, 96, 0.185);
          color:rgb(70, 70, 70);
        }
    
        &:focus.active { /*Custom Text Color While Active*/
          color:#424242;
          background-color:rgba(255, 186, 96, 0.308);
        }
      }
    
      .indicator { /*Color of underline*/
        background-color:rgba(221, 121, 28, 0.432);
      } 
    }
  }

  .categories-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .search-result {
    // bla bla bla
  }

  .cards-categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
    width: 100%;
  
    div {
      height: 25vh;
      width: 25vh;
      margin: 1rem;
      background: var(--text-gray);
      border-radius: 8px;
    }
  }
}

@media (max-width: 700px) {
  .search-fields {
    .input-field {
      input {
        font-size: 2.5rem;
        height: 6rem;
      }

      label {
        font-size: 2.5rem;
      }
    }

    .categories-tabs {
      .tabs {
        .tab a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
