.App {
  
  font-family: 'Didact Gothic', sans-serif;

  
}


// Tabs

.tabs .tab a { /*Black color to the text*/
  color:rgb(61, 61, 61);
} 

.tabs .tab a:hover { /*Text color on hover*/
  background-color:#eee;
  color:rgb(179, 179, 179);
} 

.tabs .tab a.active { /*Background and text color when a tab is active*/
  background-color:rgba(255, 186, 96, 0.185);
  color:rgb(70, 70, 70);
} 

.tabs .indicator { /*Color of underline*/
  background-color:rgba(221, 121, 28, 0.432);
} 

.tabs .tab a:focus.active { /*Custom Text Color While Active*/
  color:#424242;
  background-color:rgba(255, 186, 96, 0.308);
}


// Slide animation

.slideanim {
  visibility:hidden;
}

.slideanim.slide {                  
  visibility: visible;                  
  animation: slide 1s;
}

.slideanim::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}